.custom-button {
    background-color: #219988;
    width: 250px;
    height: 55px;
    border-radius: 10px;
}

.button-title {
    text-align: center;
    color: white;
    font-size: 25px;
    padding-top: 12px;
}