.navbar {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
}

.nav-logo {
    margin-left: 60px;
    font-size: 26px;
}

.inpute {
    width: 35%;
    height: 2rem;
    margin-left: 7%;
    justify-content: center;
    border-radius: 5px;
    font-size: 24px;
    color:#fff;
    color: blanchedalmond;
    border-color: seashell;
}

.header-icons {
    justify-content: flex-end;
    display: flex;
    padding-left: 5%;

}
        button {
            margin-left: 16px;
            border: none;
            background-color: white;
        }