.footer {
    width: 100%;
    height: 20rem;
    background-color: #366760;
    justify-content: center;
}

.footer-head {
    padding-top: 100px;
    display: flex;
    color: white;
    justify-content: center; 
    font-size: 35px;   
}

.note {
    margin-left: 50px;
}

.about-us {
    margin-left: 50px;
}

.contact-us {
    margin-left: 59px;
}

.copy-right {
    margin-top: 80px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 650px) {
    .footer {
        width: 100%;
        height: 20rem;
        background-color: #366760;
        justify-content: center;
    }
    
    .footer-head {
        padding-top: 100px;
        display: flex;
        color: white;
        justify-content: center; 
        font-size: 15px;   
    }
    
    .note {
        margin-left: 30px;
    }
    
    .about-us {
        margin-left: 30px;
    }
    
    .contact-us {
        margin-left: 39px;
    }
    
    .copy-right {
        margin-top: 40px;
        text-align: center;
        color: white;
    }
}